{% extends 'base.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Stats</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Clients</li>
                <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="col-md-12">
        <div class="card card-dark">
            <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Statistika qo'shish</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 15px">T/r</th>
                            <th scope="col" style="width: 255px; text-align: center;">Product</th>
                            <th scope="col" style="text-align: center;">Client</th>
                            <th scope="col" style="text-align: center;">Sana</th>
                            <th scope="col" style="text-align: center;">Miqdor</th>
                            <th scope="col" style="text-align: center;">Umumiy summa</th>
                            <th scope="col" style="text-align: center;">To'landi</th>
                            <th scope="col" style="text-align: center;">Nasiya</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Product nomi, brend nomi</td>
                            <td>Client ismi, do'koni nomi</td>
                            <td>2022.06.13</td>
                            <td>30</td>
                            <td>1260000 so'm</td>
                            <td>560000 so'm</td>
                            <td>700000 so'm</td>
                            <td><a href="#"><button type="submit" class="btn btn-danger" data-toggle="modal">Tahrirlash</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header bg-dark">
            <h4 class="modal-title">Yangi statistika</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <form action="#" id="new-product-form" method="post">{% csrf_token %}
            <div class="modal-body">
              <label for="product">Product:</label>
             <input type="datetime-local" name="sana" placeholder="Sana" id="product" class="form-control" required>
                <br>
              <label for="client">Client:</label>
                <input type="datetime-local" name="sana" placeholder="Sana" id="client" class="form-control" required>
              <br>
              <label for="sana">Sana:</label>
              <input type="datetime-local" name="sana" placeholder="Sana" id="sana" class="form-control" required>
              <br>
                <label for="miqdor">Miqdor:</label>
              <input type="number" name="miqdor" placeholder="Miqdor" id="miqdor" class="form-control" required>
              <br>
              <label for="umumiy_summa">Umumiy summa:</label>
              <input type="number" name="summa" placeholder="Umumiy summa" id="umumiy_summa" class="form-control" required>
              <br>
                <label for="nasiya">Nasiya:</label>
              <input type="number" name="nasiya" placeholder="Nasiya" id="nasiya" class="form-control" required>
              <br>
                <label for="tolandi">To'landi:</label>
              <input type="number" name="tolandi" placeholder="To'landi" id="tolandi" class="form-control" required>
              <br>
            </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Qo`shish</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
        </div>
      </form>
    
        </div>
      </div>
    </div>
    </div>
<!-- ./wrapper -->

{% endblock %}